<?xml version="1.0" encoding="UTF-8"?>
<!--
  Logback con dos perfiles:
    * dev/test: salida humana, coloreada, con timestamp corto
    * prod    : JSON estructurado via logstash-logback-encoder
  Spring Boot detecta automaticamente este archivo si se llama logback-spring.xml.
-->
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <springProfile name="!prod">
        <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="ar.com.baqueano" level="DEBUG"/>
    </springProfile>

    <springProfile name="prod">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app":"baqueano","env":"prod"}</customFields>
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>spanId</includeMdcKeyName>
                <fieldNames>
                    <timestamp>@timestamp</timestamp>
                    <message>msg</message>
                    <logger>logger</logger>
                    <thread>thread</thread>
                    <level>level</level>
                    <stackTrace>stack</stackTrace>
                </fieldNames>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
        <logger name="ar.com.baqueano" level="INFO"/>
    </springProfile>

</configuration>
